.navbar {
	margin: 0px;
}

body {
	background-color: #e7e7e7;
	overflow: hidden;
}  

#TableLimit {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

#matrix {
	margin: 10px;
}

.row {
	background-color: #e7e7e7;
}

#main {
	width: 100%;
	height: 100%;
	padding: 0px;
}

.value {
	min-height: 40px;
	min-width: 40px;
	display: table-cell;
	vertical-align: middle;
	
	width: 100%;
	height: 100%;
	text-align: right;
	vertical-align: middle;
}

.valueText {
    cursor: pointer;
    text-anchor: middle;
}

.valueTextCandidate {
    cursor: pointer;
    text-anchor: middle;
}

.alignCandidate{
  fill: #ffffff;
	stroke:black;
	stroke-width: 1px;
	background-color: #C5C5C5;
}

.align {
	fill: #999999;
	stroke:black;
	stroke-width: 1px;
}

.noAlign {
	fill: #ffffff;
	stroke: black;
	stroke-width: 1px;
}

.scores {
	background-color: #c5c5c5;
	height: 100%;
	padding: 0px;
}

.alignCandidateSelect{
    fill: #c5ba08;
    stroke:black;
    stroke-width: 1px;
    background-color: #C5C5C5;
    cursor: pointer;
}

.alignSelectNow{
    fill: #c55600;
    stroke:black;
    stroke-width: 1px;
    background-color: #C5C5C5;
}

.alignSelect{
    width:20;
    height:20;
    fill: #c5332e;
    stroke:black;
    stroke-width: 1px;
    background-color: #C5C5C5;
}

.scores_on {
}

.scores_off {
    display: none;
}

.scores p {
	text-align: center;
	margin: 2px;
	background-color: gray;
    cursor:pointer;
}

#tableResult-div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.align_Detail {
    stroke:black;
}

.align_Detail_select {
    stroke:black;
    fill: gray;
}

#matrixDetail{
    width: 500px;
    height: 500px;
}
#tdPossibilityResult {
    height: 100px;
}

@-moz-document url-prefix() {
    #tdPossibilityResult {
        height: 100%;
    }
}
